<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="{{ site.baseurl }}/img/favicon.png" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{site.title}}</title>

        <link href="{{ site.baseurl }}/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
        <link href="{{ site.baseurl }}/css/solarized-light.css" media="screen" rel="stylesheet" type="text/css">
        <link href="{{ site.baseurl }}/css/style.css" media="screen" rel="stylesheet" type="text/css">

        <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
        <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    </head>

    <body>
        {% include navigation.html %}

        <div class="wrapper">
           Allgemein:
Mit dem *Research Data Management Organiser (RDMO)* können Institutionen und Forschende das Forschungsdatenmanagement ihrer Projekte strukturiert planen und durchführen. Es erlaubt das Erfassen aller relevanten Planungsinformationen in Datenmanagementplänen und die Verwaltung aller Datenmanagementaufgaben über den gesamten Datenlebenszyklus.
RDMO ist bereit für die Anwendung in kleineren und größeren Projekten. Er ist für den Betrieb als lokale Instanz entwickelt worden und ist komplett an die Bedarfe der betreibenden Institution und deren Community anpassbar. Die Struktur des generischen Fragenkatalogs „RDMO“ basiert auf der WissGrid-Checkliste und spricht alle im Forschungsdatenmanagement involvierten Akteure an.
Community:
RDMO wurde im Rahmen von zwei Förderperioden als DFG Projekt entwickelt und hat den Status einer operationellen Software erreicht. Die Weiterentwicklung und die Stetigkeit von RDMO werden durch die Transformation in ein Community-basiertes Projekt gesichert, wo die Aktivität durch Gremien fortgesetzt und koordiniert werden: Steuerungsgruppe, Softwaregruppe und Contentgruppe.
RDMO steht als Open-Source Software auf GitHub zur Verfügung und wird von zahlreichen Institutionen im deutschsprachigen Raum genutzt. Um Anforderungen und Feedback aus den Fachwissenschaften einfließen zu lassen, sowie den Austausch und die Abstimmung mit Infrastrukturinitiativen zum Datenmanagement sicherzustellen, kooperiert RDMO mit verschiedenen Partnern:

        </div>

        {% include footer.html %}
    </body>
</html>
